/* index.html */
body{
    background-color: #feeee2 ;
}
/* Header */
/* header-img1 */
.header-img1{
width: 1100px;
padding-left: 520px;
margin-top: 2%;
animation-name: titulo;
animation-duration: 2s;
}

@keyframes titulo {
    100%{
        scale: 200%;
    
    }
}


/* titulo */
.header-img2{
    width: 20%;
    margin-left: 643px;
    margin-top: 3%;
    animation-name: subtitulo;
    animation-duration: 2s;

} 

@keyframes subtitulo {
    100%{
        scale: 170%;
    
    }
}


.tarjeta-uno{
    width: 50%;
    text-decoration: solid;
}



.tarjeta-dos{
    width: 70%;
    
}

.tarjeta-tres{
    width: 35%;
}



.tarjetas{
    display: flex;
    text-align: center;
}


.nav{
    color:  blue;
     font-size: 65px;
    margin-left: 28%;
    text-decoration: underline;
}
:hover .nav{
    cursor: pointer;
    color: blue;
border: solid 2px;
margin-right: 30%;
font-weight: bolder;
justify-content: center;
}


.pochoclos{
    margin-top: -200px;

    scale: 27%;
    margin-left: -30%;
    display: flex;
    gap: 50%;
}

.footer{
    font-size: 180%;
    margin-left: 7%;
    margin-top: -10%;
}

.parrafo1{
    background-color: rgba(255, 78, 78, 0.507);

    color: rgb(251, 251, 251);
    font: bold;

    width: 95%;
}

/* ventasDeEntrada */