/* Header */
/* header-img1 */
.header-img1{
width: 1100px;
padding-left: 520px;
margin-top: 2%;
}


/* titulo */
.titulo{
    width: 20%;
    margin-left: 643px;
    margin-top: 3%;
    animation-name: titulo;
    animation-duration: 2s;
} 


/* Tarjetas */
.main-tarjetas{
    display: flex;
    margin-left: 555px;
    margin-top: -0.1px;
    
}

/* primera-tarjeta */

.primera-tarjeta{
    margin: top 10px; 
    
}

.segunda-tarjeta{
    margin: top -10px;    

}

#trailer-uno{
    width: 160px;
    margin-bottom: 40px; 
    margin-left: 570px;
    
}



/* #trailer-dos{
    width: 7%;
    margin-bottom: 14.2%;
    margin-left: 540px ; 
} */


/* #trailer-tres{
    width: 7%;
    margin-bottom: 14.2%;
    margin-left: 40%;
} */





