
/* Header */
/* header-img1 */
.header-img1{
width: 1100px;
padding-left: 520px;
margin-top: 2%;
animation-name: titulo;
animation-duration: 2s;
}




/* titulo */
.titulo{
    width: 20%;
    margin-left: 643px;
    margin-top: 3%;

} 

@keyframes titulo {
    90%{
        transform: translate(50%);
    
    }
}


.tarjeta-uno{
    width: 50%;
    text-decoration: solid;
}



.tarjeta-dos{
    width: 70%;
    
}

.tarjeta-tres{
    width: 35%;
}



.tarjetas{
    display: flex;
    text-align: center;
}


.parrafo-entradas{
    color: blue;
    font: bold;
    font-size: 65px;
    margin-left: 30%;
    margin-top: 5%;
    text-decoration: underline;
}
:hover .parrafo-entradas{
   color:red;
}

.footer{
    font-size: 180%;
    margin-left: 7%;
    display: flex;
    margin-top: 10%;
}

.parrafo1{
    background-color: rgba(255, 78, 78, 0.507);

    color: rgb(251, 251, 251);
    font: bold;

    width: 95%;
}