.titulo{
    width: 700px;
    margin-left: 500px;
    margin-top: 20px;
}

.subtitulo{
    width: 450px;
    margin-left: 650px;
    margin-top: 20px;    
}
.cartas{
    display: flex;
    gap: 450px;
    margin-left: 150px;
    margin-top: 20px;
}





.footer{
    background-color: rgb(131, 131, 131);
    padding: 95px;
    margin-top: 43px;

}

.parrafoFooter{
    color: blue ;
    font-size: 300%;
    margin-bottom: 50%;
    animation-name: soloENcines;
    animation-duration: 2s;    
}



@keyframes soloENcines {
    100%{
        transform: translate(1050px);
    }
    
    100%{
        transform: translate(1050px);
    }
}